.header {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    color: var(--meteryx-highlight);
    padding: 1.5rem 5rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    margin-right: 2.5rem;
}

.logo svg {
    margin-bottom: 0.4rem;
}

.logo span {
    font-size: 0.85rem;
}

.nav {
    display: flex;
    min-width: fit-content;
    font-size: 1.2rem;
}

.nav a {
    display: block;
    transition: transform 0.2s;
    margin-right: 2rem;
}

.nav a:first-of-type {
    margin-left: 0;
}

.nav a:last-of-type {
    margin-right: 0;
}

.nav a:hover, .nav a:active {
    transform: scale(1.1);
}

.hamburger {
    display: none;
}


@media screen and (max-width: 915px) {
    .header {
        padding: 1rem 2.5rem;
    }
    .logo svg {
        width: 10rem;
    }
    .logo span {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    
    .nav {
        position: absolute;
        top: 4.7rem;
        right: 0;
        left: 0;
        bottom: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform-origin: top;
        transform: scaleY(0);
        overflow: hidden;
    }
    .nav a {
        padding: 0.5rem 0;
        margin: 0;
    }

    .nav.active {
        box-shadow: inset 0px 2px 5px rgba(0,0,0,0.15);
        background-color: white;
        padding: 1rem 2rem;
        width: 100vw;
        transform: scaleY(1);
        transition: transform 0.2s;
    }
   
    .hamburger {
        display: block;
        width: 2.5rem;
    }
}

